<html>

<head>
<title>Title</title>
</head>

<body>

<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->


 </table>
 

<!-- END ABOUT ME CONTENT -->


<!-- BEGIN CONTACT CONTENT -->

<h3> <a name="contact">Recent News</a></h3>
<table width="60%" cellpadding="4" vertical-align="top">
   
       <tr>
        <td>03/14/2018</td><td>New <a href="https://www.sciencedirect.com/science/article/pii/S0378873317301417">article</a> out in <i>Social Networks</i>, "Models, methods and network topology: Experimental design for the study of interference."</td>
    </tr>
    
    <tr>
        <td>12/15/2017</td><td>New <a href="http://ieeexplore.ieee.org/document/8257919/">paper</a> out in the proceedings of <i>IEEE Big Data 2017</i>, "Exponential random graph models with big networks: Maximum pseudolikelihood estimation and the parametric bootstrap."</td>
    </tr>
    
    <tr>
        <td>09/15/2017</td><td>New <a href="https://www.nature.com/articles/s41598-017-09896-6">article</a> out in  <i>Scientific Reports</i>, "Statistical Modeling of the Default Mode Brain Network Reveals a Segregated Highway Structure."</td>
    </tr>

<tr>
    <td>08/10/2017</td><td> New <a href="https://arxiv.org/abs/1708.02598">Paper</a> on valid confidence intervals for ERGM pseudolikelihood estimates.</td>
</tr>

<tr>
    <td>03/26/2017</td><td> New R package <a href="https://cran.r-project.org/web/packages/NetworkInference/index.html">NetworkInference</a> released.</td>
</tr>


<tr>
    <td>03/15/2017</td><td> New version of R package <a href="https://cran.r-project.org/web/packages/GERGM/index.html">GERGM</a> released.</td>
</tr>

<tr>
    <td>03/08/2017</td><td><a href="https://arxiv.org/abs/1703.02870">Preprints</a> for chapter recently to appear in <i>The Oxford Handbook of Political Networks</i>, "Statistical Inference in Political Networks Research."</td>
</tr>









</table>

</body>
</html>
