<!DOCTYPE html>
<html lang="en">
    <head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="author" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    </head>
    <body class="wrap">
	<div class="grid">
	    <nav>
		<a href="{{ url_for('index' )}}">Home</a> |
		<a href="{{ url_for('people') }}">People</a> |
		<a href="{{ url_for('publications') }}">Publications</a> |
		<a href="{{ url_for('projects') }}">Projects</a> |
		<a href="{{ url_for('resources') }}">Resources</a>
		<hr/>
	    </nav>
	    {% block content %}
	    {% endblock %}
	</div>
    </body>
</html>
